.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: white;


}
.top-bar {
    display: flex;          /* Utilisez flexbox pour l'alignement */
    justify-content: center; /* Centrez les éléments horizontalement */
    align-items: center;     /* Centrez les éléments verticalement */
    height: 50px;            /* Exemple de hauteur, à ajuster selon vos besoins */
    background-color: #f0f0f0; /* Couleur d'exemple, à ajuster selon vos besoins */
}

.heures {
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    width: 100%;
    color: wheat;
}

.heures p {
    margin: 0;
    margin-right: 20px;     /* Appliquez une marge droite à chaque <p> */
}

.heures p:last-child {
    margin-right: 0;        /* Supprimez la marge droite du dernier <p> */
}

body {
background-color: #dddddd;
}

.content {
    margin-left: 150px; /* Marge à gauche */
    margin-right: 150px; /* Marge à droite */
    background-color: white;
    padding-bottom:100px;
    border: 1px solid #ddd;


}
#footer {
    background-color: #4c4c4c;
    padding: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;

    color:white;
    margin-top:100px;

}
.footer-container {
    display: flex;
    justify-content: space-between; /* Espacement entre les sections */
    align-items: center; /* Centrage vertical des éléments */
    padding: 20px 0; /* Espace au-dessus et au-dessous du footer */
    background-color: #333; /* Couleur d'arrière-plan, à ajuster selon vos préférences */
    color: wheat;
}

.footer-section {
    flex-basis: 30%; /* Pour diviser le footer en 3 sections approximativement égales */
    text-align: center; /* Centre le contenu de chaque section */
}

.footer-links {
    list-style-type: none; /* Supprime les puces des listes */
    padding: 0;

}
.footer-links a {
    text-decoration: none; /* Pour enlever le soulignement */
    color: wheat; /* Couleur des liens */

}
.footer-links li {
    margin: 5px 0; /* Espacement entre les liens */

}



.top-bar {
    background-color: #4c4c4c;
    height: 40px; /* Hauteur de la bande */
    width: 100%; /* Largeur de la bande bord en bord */
}
header{
    height:150px;
}
.header-bg {
    background-color: paleturquoise; /* Couleur de fond du header */
    padding: 15px; /* Espacement interne du header */
}

header h2 {
    color: #4c4c4c;
    font-weight: lighter;
    padding-right: 20px;
}

.logo {
    max-width: 100px; /* Largeur maximale du logo */
}

.menu {
    text-align: center; /* Alignement du menu au centre */
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 10px; /* Réduisez la marge à 10px (ou ajustez selon vos préférences) */

}

.menu ul li:first-child {
    margin-left: 10px; /* Ajoutez une marge gauche au premier élément */
}


.menu a {
    color: #fff; /* Couleur du texte du menu */
    text-decoration: none;
}

.logo-img {
    max-width: 100px;
    max-height: 100px;
    margin-left: 30px;
}

/* Style de la bannière */
.banner {
    background-image: url('../img/Banner.png');
    background-size: 100% auto; /* Ajuste la largeur à 100% et laisse la hauteur automatique */
    background-repeat: no-repeat; /* Empêche la répétition de l'image en arrière-plan */
    height: 350px; /* Réglez la hauteur souhaitée de la bannière */
}

.book-box {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
}
.book-box img {
    max-width: 100%;
    height: auto;
}

.content-wrapper {
    margin-bottom: 100px; /* Ajoutez une marge inférieure pour éviter que le footer ne cache le contenu */
}
